{% extends 'indice/index.html' %}

{% block header_index %}{% endblock header_index %}


{% block pruebaTemplate %}
    <form action={% url 'busqueda_medicamentos' %} method="get">
        {% csrf_token %}
        {% comment %} Curso: <input type="text" name="curso">
        Camada: <input type="number" name="camada"> {% endcomment %}

        <table>
        {{buscador.as_table}}
        </table>

        <input type="submit" placeholder="Enviar">

    </form>

    {% if dato %}
    se busco por el dato {{dato}}
        {% for medicamentos in medicamentos_buscados %}
            <li>
                {{medicamentos}}
            </li>
        {% endfor %}
    {% else %}
    No se busco nada...
    
    {% endif %}

    
    

{% endblock pruebaTemplate %}